#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar
makina-projects.projectname:
  data:
    varnish_conf: "salt://makina-projects/{name}/files/varnish.conf"
    safari_vary_fix: true
    domain: "{fqdn}"
    # true is the default, remove it on multisite handlers
    force_host_header_on_backends: true
    # list of backends (load balancing)
    backends:
      - { id: backend_1, ip: 127.0.0.1, port: 80 }
    ip_allowed_for_purge:
      - "localhost"
    # make some health cjhecks on backend servers?
    probe_backends: true
    probe_url: "/monitor-status.php"
    # interval between probes
    probe_interval: "20s"
    # timeout of the probe
    probe_timeout: "8s"
    # retain this number of last probes
    probe_window: 5
    # this number of failure in probe_window means we are down
    probe_thresold: 2
    # how many time can we use a content when backends are down?
    grace_period: "6h"
    # enforced cache validity period for static files
    static_ttl: "1h"
    # static enforced BROWSER cache period, in seconds (15min = 900, 86400=24h)
    static_ttl_browser: 900
    fixperms_cron_periodicity: "*/30 * * * *"
    static_ext: "css|js|jpeg|jpg|png|gif|ico|gz|tgz|bz2|tbz|mp3|ogg|woff|eot|ttf|svg|otf|swf|html|htm|htc"
    # this is used in a regex regsuball(req.http.Cookie, ";(<HERE>)=", "; \1=");
    # SESS[a-z0-9]+|NO_CACHE for example means: keep cookies like PHPSESSID ou NO_CACHE
    # all other cookies are removed by varnish (like js trackers)
    keep_cookies: "SESS[a-z0-9]+|NO_CACHE"
    use_drupal_recv: true
# vim:set ft=sls:
